{% extends 'base.html.twig' %}

{% block title %}TunLuxAuto - Premium Luxury Cars{% endblock %}

{% block body %}
<h1 style="color:#d4af37;">Welcome to TunLuxAuto</h1>
<p>Find your dream luxury car in Tunisia.</p>
<a href="{{ path('car_list') }}" style="color:#d4af37;">Browse Our Collection &rarr;</a>
{% endblock %}
